.skelton-feed {
    display: flex;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3e3e3e;
    animation: skelton 1s ease infinite alternate;
}

@keyframes skelton {
    to {
        opacity: 0.5;
    }
}
.skelton-feed .image {
    width: 40%;
    background-color: #4a4a4a;
}
.skelton-feed .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.skelton-feed .content .title {
    height: 25px;
    background-color: #4a4a4a;
}

.skelton-feed .content .title .tag {
    border-radius: 25%;
    overflow: hidden;
    height: 35px;
    background-color: #4a4a4a;
}

.skelton-feed .content .rating {
    height: 25px;
    background-color: #4a4a4a;
}

.skelton-feed .content .buttons {
    height: 25px;
    background-color: #4a4a4a;
}

.skelton-rectangle {
    padding: 5px;
    width: 100%;
    height: 40px;
    background-color: #3e3e3e;
    animation: skelton 1s ease infinite alternate;
}
.skelton-rectangle .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
}

.skelton-rectangle .content .title {
    background-color: #4a4a4a;
    width: 10%;
}

.skelton-rectangle .content .buttons {
    background-color: #4a4a4a;
    width: 10%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.skelton-rectangle .content .buttons div {
    background-color: #4a4a4a;
    width: 4.5%;
}

.edit-form {
    background-color: #3e3e3e;
    animation: skelton 1s ease infinite alternate;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 5px;
    min-height: 500px;
}

.edit-form .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 48%;
}

.edit-form .right {
    gap: 25px;
    width: 48%;
    display: flex;
    flex-direction: column;
}

.edit-form .field {
    height: 48px;
    background-color: #4a4a4a;
    border-radius: 4px;
}

.edit-form .left .detail {
    height: 120px;
    background-color: #4a4a4a;
    border-radius: 4px;
}

.edit-form .image {
    height: 200px;
    border-radius: 5px;
    width: 250px;
    background-color: #4a4a4a;
}

.edit-form .button {
    width: 170px;
    height: 48px;
    border-radius: 4px;
    background-color: #4a4a4a;
}

.singlepage {
    background-color: #3e3e3e;
    animation: skelton 1s ease infinite alternate;
}
.singlepage .left {
    background-color: #4a4a4a;
}

.singlepage .right .box {
    background-color: #4a4a4a;
}

@media all and (max-width: 1180px) {
    .skelton-feed {
        width: 48%;
    }
}

@media all and (max-width: 768px) {
    .skelton-feed {
        width: 100%;
    }
}
